body {
    margin: 0;
    padding: 0;
    background-image: url(/static/img/background-landing.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.8); /* White overlay with 50% transparency */
    background-blend-mode: overlay; 
}