<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty & Health</title>

    <link rel="icon" href="/static/img/beauty-icon.png">

    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <nav class="menu">
        <img src="/static/img/logo.png" alt="logo" class="logo">
        <ul class="pages">
            <li><a href="" class="page-link">Home</a></li>
            <li><a href="" class="page-link">About Us</a></li>
            <li><a href="" class="page-link">Treatment</a></li>
            <li><a href="" class="page-link">Contact Us</a></li>
        </ul>
    </nav>

    <div class="info">
        <h1 class="large-headline">Medical Clinic You Can Trust</h1>
        <p>At Beauty and Health, we believe that true confidence comes from feeling your best, inside and out. As a leading aesthetics medical clinic, we are dedicated to enhancing your natural beauty while prioritizing your health and well-being.</p>
        <p>Our expert team of licensed professionals combines cutting-edge technology with personalized care to deliver exceptional results. From rejuvenating skin treatments to advanced aesthetic procedures, every service is tailored to meet your unique needs.</p>
        <p>We strive to provide a safe, comfortable, and professional environment where your beauty and health come first.</p>
        <p>Discover the art of feeling radiant—welcome to a clinic where your transformation begins.</p>
    </div>
    
    <!--Create form-->
    <!--Make sure text and form are horizontally aligned-->
    <!--Social media on footer-->

</body>
</html>